body {
margin: 0;
padding-top: 20px;
padding-bottom: 20px;

text-align: center;
font-family: Arial, Helvetica, sans-serif
font-size: 18px;
line-height: 42px;
color:#ebebeb;
background-color: #777;
padding-left: 100px;
padding-right: 100px;
width:960px
}

#header {

    background-color:#ebebeb;
    color: #777;
    margin: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;

}

#nav {

    background-color:#ebebeb;
    color: #777;
    margin: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.Container {



width: 45%;
padding-right: 5px;
padding-left: 5px;

}

#section {

float: left;
width: 50%;
background-color:#ebebeb;
color: #777;

margin: 3px;
padding-top: 20px;
padding-bottom: 200px;
height: 200px; 
border: 1px; 
}

#Aside {

    float:left;
    width: 49%;
    background-color: #ebebeb;
    color: #777;
    margin: 3px;
    padding-top: 20px;
    padding-bottom: 200px;
    height: 20px;
    border: 1px;
    margin-right: 0%;
    height:200px
    }


    .container2 {

        width: 45%;
        padding-right: 5px;
        padding-left: 5px;
        






    }
#article {

    
    width: 30%;
    background-color:#777;
    color: #ebebeb;
    
    margin: 3px;
    padding-top: 20px;
    padding-bottom: 10px;
      
    height: 230px;
    position: absolute;
    z-index: +1;
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;
}






#h1 {

    
    
    background-color:#ebebeb;
    color: #777;
    
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
    
    position: absolute;
    z-index: +1;
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 80px;
    width: 380px;
}

#p {
    background-color:#ebebeb;
    color: #777;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 380px;
    height:25px;
    position: absolute;
    z-index: +1;
    margin-top: 235px;
    margin-left: 50px;
    margin-bottom: 110px;
    margin-right: 110px;
    }
    





#Folder {
    clear: both;
    overflow: auto;  
float: left;
background-color: #ebebeb;
color: #777;
margin: 3px;
padding-top: 20px;
padding-bottom: 20px;
width: 100%;

}


